        /* Styling for the navigation bar */
        .navbar {
            width: 200px;
            background-color: #333;
            padding: 10px 0;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
        }

        /* Styling for the profile section */
        .profile {
            text-align: center;
            padding: 20px 0;
        }

        /* Styling for the navigation links */
        .nav-link {
            display: block;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
        }

        .nav-link:hover {
            background-color: #555;
        }
        .admin{
        color: white;
        }
        .admin:hover{
            text-decoration: underline;
        }