body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(front\ bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

* Style the header and navigation */
header {
    background-color: #333;
    color: #fff;
}   

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 55px;
    background-color: #0F2A3D;
}

.logo img {
    width: 60px; 
    margin-left: 20px;
    margin-top: 2%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-bottom: 25PX;
}

.nav-links li {
    font-size: 15px;
    margin-top: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
   
}

.nav-links a:hover {
    text-decoration: underline
    
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
 
}

.form-logo img {
    width: 80px; /* Adjust the size of the logo as needed */
    margin-bottom: 20px;
   
}

.login-form {
    background-color: #0F2A3D;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #f9f8f8;
    text-align: center;
    height: 450px;
    margin-top: 4%;
    width: 350px;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    color: #FFA439;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #FFA439;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fcfcfc;
    border-radius: 3px;
}

button {
    background-color: #FFA439;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px; /* Adjust the top margin as needed */
    text-decoration: none;
    display: block; /* Change the display property to block */
    margin-left: auto; /* Set left margin to auto */
    margin-right: auto; /* Set right margin to auto */
  }


button:hover {
    background-color: #719EBD;
}

.create{
    background-color: #333;
    color: #8b5b5b;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: -1px;
    text-decoration: none;
    float: right;
    margin-right: 35px;
}
